//main
$backgroundColor: #e5e5e5;
$textColor: #121212;

$containerWidth: 1100px;
$containerPadding: 10px;

//nav
$linkPaddingY: 10px;
$linkPaddingX: 12px;

//slider
$clickScale: 0.90;


//header nav 
$navTransition: .2s all;

//footer 
$footerColor: #3e332a;
$footerColorDark: #4e4742;


//misc 
$mobileFontSize: 1.2em;